<div class="commands text-center">
  <button
    type="button"
    class="btn btn-sm btn-link hide-on-mobile mx-1"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Placer à gauche ou à droite"
  >
    <i class="bi bi-arrow-left-right"></i>
  </button>
  <button
    type="button"
    class="btn btn-sm btn-link hide-on-mobile mx-1"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Placer en haut ou en bas"
  >
    <i class="bi bi-arrow-down-up"></i>
  </button>
  <button
    type="button"
    class="btn btn-sm btn-link hide-on-mobile mx-1"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Activer/désactiver le lecteur"
  >
    <i class="bi bi-eye"></i>
  </button>
  <button
    type="button"
    class="btn btn-sm btn-link hide-on-mobile mx-1"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Inverser les deux lecteurs"
  >
    <i class="bi bi-arrow-repeat"></i>
  </button>
  <div
    class="btn-group dropup mx-1"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Changer la langue du cast"
  >
    <button
      type="button"
      class="btn btn-sm btn-link dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi bi-chat-dots"></i>
    </button>
    <ul id="casts" class="dropdown-menu">
      <li *ngFor="let cast of casts">
        <a
          class="dropdown-item"
          [href]="cast.hash"
          [class.active]="selectedCast === cast"
        >
          {{ cast.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
