<div class="commands text-center hide-on-mobile">
  <button
    type="button"
    class="btn btn-sm btn-link mx-1"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Masquer le lecteur"
  >
    <i class="bi bi-eye-slash"></i>
  </button>
  <button
    type="button"
    class="btn btn-sm btn-link mx-1"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Placer/enlever au-dessus du chat"
  >
    <i class="bi bi-box-arrow-left"></i>
    <i class="bi bi-box-arrow-in-right"></i>
  </button>
  <button
    type="button"
    class="btn btn-sm btn-link mx-1"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Basculer le chat"
  >
    <i class="bi bi-arrow-bar-right"></i>
    <i class="bi bi-arrow-bar-left"></i>
  </button>
</div>
