@import '~bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import './themes.scss';

:root {
    --bs-link-color: var(--bs-body-bg);
    --chat-width: 400px;
    --player-width: calc(100vw - var(--chat-width));
    --pip-width: calc(var(--player-width) * 0.25);
}
.btn {
    --bs-btn-focus-box-shadow: none;
}
.btn-link {
    backdrop-filter: blur(5px);
}

.dropdown-menu {
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-link-color: var(--bs-link-color);
    --bs-dropdown-link-hover-bg: var(--dropdown-link-hover-bg);
    --bs-dropdown-link-hover-color: var(--bs-link-hover-color);
}

body {
    &::-webkit-scrollbar {
        width: 0 !important;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-position: center 18%;
    background-size: contain;
    backdrop-filter: blur(4px);
    height: 100vh;
}
iframe {
    width: 100%;
    height: 100%;
}

#app {
    display: grid;
    grid-template-columns: 1fr var(--chat-width);
    .fullscreen & {
        grid-template-columns: 100vw;
    }
    @include media-breakpoint-down(lg) {
        grid-template-columns: none;
    }
    @include media-breakpoint-down(sm) {
        display: block;
    }
}
#players {
    @include media-breakpoint-up(lg) {
        width: var(--player-width);
        height: calc(var(--player-width) * 9 / 16);
        max-height: 100vh;
    }
    @include media-breakpoint-down(lg) {
        line-height: 0;
        grid-template-columns: 50vw 50vw;
    }
}
#chat {
    @include media-breakpoint-up(lg) {
        height: calc(var(--player-width) * 9 / 16);
    }
}
#players iframe {
    @include media-breakpoint-down(lg) {
        width: 50vw;
        height: calc(50vw * 9 / 16);
    }
    @include media-breakpoint-down(sm) {
        width: 100vw;
        height: calc(100vw * 9 / 16);
    }
}
#chat iframe {
    @include media-breakpoint-down(lg) {
        width: 100vw;
        height: 100vh;
    }
}
.above #chat iframe {
    @include media-breakpoint-up(lg) {
        margin-top: calc(var(--chat-width) * 9 / 16);
        height: calc(100% - calc(var(--chat-width) * 9 / 16));
    }
}
.commands {
    margin-top: .5rem;
}
.fullscreen .commands {
    grid-column: 1/2;
}

.hide-on-mobile {
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.pip {
    @include media-breakpoint-up(lg) {
        z-index: 1;
        width: var(--pip-width);
        height: calc(var(--pip-width) * 9 / 16);
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 100ms ease-in-out;
    }
}
.above .pip {
    @include media-breakpoint-up(lg) {
        left: auto;
        right: 0;
        transform: none !important;
        width: var(--chat-width);
        height: calc(var(--chat-width) * 9 / 16);
    }
}
:not(.above) .pip-bottom.pip-right .pip {
    @include media-breakpoint-up(lg) {
        transform: translateY(calc(300% - 50px)) translateX(calc(300% - 15px));
        .fullscreen & {
            transform: translateY(calc(240% - 50px)) translateX(calc(295% - 15px));
        }
    }
}
:not(.above) .pip-top.pip-right .pip {
    transition: transform 100ms ease-in-out;
    @include media-breakpoint-up(lg) {
        transform: translateY(15px) translateX(calc(300% - 15px));
        .fullscreen & {
            transform: translateY(15px) translateX(calc(295% - 15px));
        }
    }
}
:not(.above) .pip-bottom.pip-left .pip {
    transition: transform 100ms ease-in-out;
    @include media-breakpoint-up(lg) {
        transform: translateY(calc(300% - 50px)) translateX(15px);
    }
}
:not(.above) .pip-top.pip-left .pip {
    transition: transform 100ms ease-in-out;
    @include media-breakpoint-up(lg) {
        transform: translateY(15px) translateX(15px);
    }
}
