@import '~bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

:root{
    --chat-width: 380px;
}
body{
    &::-webkit-scrollbar {
        width: 0 !important
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.pip{
    z-index: 1;
    @include media-breakpoint-up(md) {
        height: 25% !important;
        width: 25% !important;
        position: absolute !important;
        transition: transform 100ms ease-in-out;
        top: 0;
        left: 0;
        &.fullscreen {
            width: 21.5% !important;
        }
    }
}
#youtube-embed, #twitch-embed{
    max-height: 100vh;
}
.player{
    @include media-breakpoint-only(sm) {
        width: 50% !important;
    }
}
.pip-bottom.pip-right .pip{
    @include media-breakpoint-up(md) {
        transform: translateY(calc(300% - 50px)) translateX(calc(300% - 15px));
        &.fullscreen {
            transform: translateY(calc(300% - 50px)) translateX(calc(365% - 15px)) !important;
        }
    }
}
.pip-top.pip-right .pip{
    @include media-breakpoint-up(md) {
        transform: translateY(15px) translateX(calc(300% - 15px));
    }
}
.pip-bottom.pip-left .pip{
    @include media-breakpoint-up(md) {
        transform: translateY(calc(300% - 50px)) translateX(15px);
    }
}
.pip-top.pip-left .pip{
    @include media-breakpoint-up(md) {
        transform: translateY(15px) translateX(15px);
    }
}
.col-chat{
    width: var(--chat-width);
    @include media-breakpoint-down(md) {
        width: auto;
    }
}
#chat{
    @include media-breakpoint-down(md) {
        height: 100vh !important;
    }
}
.btn:focus{
    box-shadow: none;
}
#resizer{
    z-index: 1;
    position: absolute;
    top: 0;
    right: calc(var(--chat-width) - 2px);
    width: 4px;
    height: 100%;
    cursor: col-resize;
    text-align: center;
    &:hover{
        width: 30px;
        right: calc(var(--chat-width) - 15px);
        &:after{
            background-color: gray;
        }
    }
}
#resizer:after{
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    margin: auto;
    background-color: darkslategray;
}
#commands{
    position: relative;
    z-index: 1;
}
