.pip{
    z-index: 1000;
    height: 25% !important;
    width: 25% !important;
    position: absolute !important;
}
.pip-bottom{
    bottom: 50px;
}
.pip-top{
    top: 15px;
}
.pip-right{
    right: 15px;
}
.pip-left{
    left: 15px;
}
.col-chat{
    width: 370px;
}
.btn:focus{
    box-shadow: none;
}
