@mixin theme($text-color, $bg-color, $link-color, $dark: 0) {
    $text-color: transparentize($text-color, .2);
    $bg-color: transparentize($bg-color, .2);
    $link-color: transparentize($link-color, .2);
    $hover-bg-color: transparentize($bg-color, .1);
    $active-bg-color: transparentize($text-color, .2);
    @if $dark == 1 {
        $hover-bg-color: darken($hover-bg-color, 10%);
    } @else {
        $hover-bg-color: lighten($hover-bg-color, 10%);
    }
    $btn-bg: transparentize($hover-bg-color, .1);
    $btn-hover-bg: $hover-bg-color;
    --bs-body-color: #{$text-color};
    --bs-body-bg: #{$bg-color};
    --bs-link-color: #{$link-color};
    --bs-link-hover-color: var(--bs-link-color);
    & .btn {
        --bs-btn-bg: #{$btn-bg};
        @if $dark == 1 {
            --bs-btn-hover-color: #000;
        } @else {
            --bs-btn-hover-color: #fff;
        }
        --bs-btn-hover-bg: #{$btn-hover-bg};
        --bs-btn-active-bg: #{$btn-hover-bg};
    }
    & .dropdown-menu {
        backdrop-filter: blur(5px);
        --bs-dropdown-color: #{$text-color};
        --bs-dropdown-link-color: #{$link-color};
        --bs-dropdown-link-hover-color: #{$link-color};
        @if $dark == 1 {
            --bs-dropdown-link-active-color: #000;
        } @else {
            --bs-dropdown-link-active-color: #fff;
        }
        --bs-dropdown-bg: #{$bg-color};
        --bs-dropdown-link-hover-bg: #{$hover-bg-color};
        --bs-dropdown-link-active-bg: #{$active-bg-color};
    }
}

.theme-dark {
    @include theme(#495057, #000, #adb5bd);
}

.theme-light {
    @include theme(#adb5bd, #f8f9fa, #343a40, 1);
}

.theme-peps {
    background-image: url('./images/PEPS.png');
    @include theme(#BF6545, #83818C, #F2BE22);
}

.theme-atl {
    background-image: url('./images/ATL.png');
    @include theme(#323232, #910F1B, #C4C4C4);
}
.theme-bos {
    background-image: url('./images/BOS.png');
    @include theme(#ffffff, #164a96, #f9eb34);
}
.theme-cdh {
    background-image: url('./images/CDH.png');
    @include theme(#ffffff, #ff9f00, #010000, 1);
}
.theme-dal {
    background-image: url('./images/DAL.png');
    @include theme(#ffffff, #0b223e, #1fb2f9);
}
.theme-fla {
    background-image: url('./images/FLA.png');
    @include theme(#ffffff, #CF4891, #3DB2E3);
}
.theme-gla {
    background-image: url('./images/GLA.png');
    @include theme(#ffffff, #491265, #ffffff);
}
.theme-gzc {
    background-image: url('./images/GZC.png');
    @include theme(#ffffff, #122C42, #0FEED9);
}
.theme-hou {
    background-image: url('./images/HOU.png');
    @include theme(#ffffff, #78BE06, #1C1B1A, 1);
}
.theme-hzs {
    background-image: url('./images/HZS.png');
    @include theme(#6CA8DA, #F2749A, #ffffff);
}
.theme-ldn {
    background-image: url('./images/LDN.png');
    @include theme(#1C2B39, #58D4F7, #FF8200);
}
.theme-nye {
    background-image: url('./images/NYE.png');
    @include theme(#F21D2F, #171C38, #ffffff);
}
.theme-par {
    background-image: url('./images/PAR.png');
    @include theme(#C4083F, #303D56, #FFAA1D);
}
.theme-phi {
    background-image: url('./images/PHI.png');
    @include theme(#FFFFFF, #F89E28, #000000, 1);
}
.theme-seo {
    background-image: url('./images/SEO.png');
    @include theme(#ffffff, #000000, #C9A200);
}
.theme-sfs {
    background-image: url('./images/SFS.png');
    @include theme(#A6AEB0, #FB5F1E, #ffffff);
}
.theme-shd {
    background-image: url('./images/SHD.png');
    @include theme(#000000, #D22630, #ffffff);
}
.theme-tor {
    background-image: url('./images/TOR.png');
    @include theme(#C10021, #000000, #ffffff);
}
.theme-val {
    background-image: url('./images/VAL.png');
    @include theme(#FFD103, #1B88C5, #ffffff);
}
.theme-van {
    background-image: url('./images/VAN.png');
    @include theme(#2FB228, #0030BD, #ffffff);
}
.theme-was {
    background-image: url('./images/WAS.png');
    @include theme(#003768, #A40038, #ffffff);
}
